:root{
    --color-font: #23272A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--color-font);
}

nav{
    padding: 20px 0;
    background-color: rgb(38, 94, 232);
}

nav div ul{
    display: flex;
    list-style: none;
}

nav div ul li{
    padding: 0 20px;
}

section:nth-child(2n+2){
    background-color: rgb(211, 211, 211);
}

section{
    padding: 40px 0;
    margin-bottom: 150px;
}

section .container-section div:first-child{
    flex-basis: 60%;
}

section .container-section div:last-child{
    flex-basis: 40%;
}

section:nth-child(2n+2) .container-section{
    width: 920px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

footer{
    background-color: rgb(35, 39, 42);
}

footer .footer-nav div:first-child{
    flex-basis: 24%;
}

hr{
    margin-bottom: 20px;
}

footer .footer div:first-child{
    border: 1px dashed black;
}

footer .footer div:last-child{
    background-color: rgb(142, 161, 225);
    border-radius: 20px;
    padding: 5px;
    color: white;
}

footer div ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

footer div ul li{
    list-style-type: none;
    padding-bottom: 10px;
    color: white;
}

h1{
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

h4{
    color: rgb(114, 137, 218);
    padding-bottom: 10px
}

img{
    width: 100%;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.container-header p{
    color: white;
    text-align: center;
    padding: 35px 0 20px 0;
}

.container-download{
    display: flex;
    justify-content: center;
}

.bottom{
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 15px 25px;
}

.bottom.black{
    color: white;
    background-color: var(--color-font);
}

.bottom.white{
    color: var(--color-font);
    margin-right: 15px;
    background-color: white;
}

.bottom-login a{
    text-decoration: none;
    color: var(--color-font);
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    text-align: end;
}

.bottom-login{
    text-align: end;
}

.footer-nav div{
    flex-basis: 20%;

}

.navbar{
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
} 

.main-header{
    background-image: url(../img/jumbo.png);
    padding-top: 150px;
    height: 620px;
    background-size: cover;
}

.container-header{
    width: 920px;
    margin: auto;
}

.container-section{
    width: 920px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    background-color: rgb(127, 255, 212);
    width: 920px;
    height: 50px;
    margin: auto;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-box{
    width: 920px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0px;
}

.footer-nav{
    width: 920px;
    align-items: baseline;
    margin: auto;
    padding: 50px 0 25px 0;
    display: flex;
    flex-direction: row;
}

.link-nav{
    flex-grow: 1;
}

.logo-nav,
.bottom-login{
    flex-grow: 1;
}

.violet{
    background-color: rgb(114, 137, 218);  
    padding: 5px;
    color: white;
}

.img-stars{
    width: 73%;
    margin-bottom: -30px;
}

.container-download-main{
    padding-top: 40px;
    padding-bottom: 70px;
}

.violet-large{
    background-color: rgb(114, 137, 218);  
    color: white;
}

.footer-nav h3{
    color: rgb(114, 137, 218);
    font-size: 1.7rem;
}

.footer-info{
    padding: 10px;
    margin-right: 70px;
}

.container-info{
    color: white;
    padding: 10px 0;
}